<html>
  <head>
    <title>Demo</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/vkey.css" type="text/css" />
    <script type="text/javascript" src="/static/vkey.js"></script>
    <script type="text/javascript" src="/static/drag.js"></script>
    <script type="text/javascript" src="/static/karistir.js"></script>
  </head>
  <body>
    <div id ="vkey" onmousedown="drag_start(this)" style="display: none;">

    </div>
    {% if error %}
    <h1>{{ error }}!</h1>
    {% endif %}
    <table border = "0" align = "center">
      <form method="POST" action="/login">
	<tr>
	  <td>E-mail: </td>
	  <td><input type="text" id="mail" name="mail"/></td>
	</tr>
	<tr>
	  <td>Password: </td>
	  <td><input onkeypress="return disablekeys()" type="password" id="password" name="password"/></td>
	</tr>
	<tr>
	  <td><input type="submit" value="Submit"></td>
	  <td><input type="button" value="Virtual keyboard" onclick="ackapa() " /></td>
	</tr>
	<tr>
	  <td colspan = "2" align = "center">
	    <a href="/register">Register</a> - <a href="/forgorpassword">Forgot Password</a>
	  </td>
	</tr>
    </table>
  </body>
</html>
