<html>
  <head>
    <title>Demo</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/vkey.css" type="text/css" />
    <script type="text/javascript" src="/static/vkey.js"></script>
    <script type="text/javascript" src="/static/drag.js"></script>
    <script type="text/javascript" src="/static/karistir.js"></script>
    <script>
      function control(){
      var text = document.forms["myForm"]["mail"].value;
      var pass = document.myForm.password.value;
      var pass2 = document.myForm.password2.value;

      var x=document.forms["myForm"]["mail"].value;
      var atpos=x.indexOf("@");
      var dotpos=x.lastIndexOf(".");
      if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length){
		  alert("Mail adresi yanlış girildi tekrar yazın");
		  document.forms["myForm"]["mail"].value = "";
		  return false;
		  }
		  else{
		  if(pass === "" || pass2 === ""){
		  alert("Bütün boş alanaları doldurunuz.");
		  document.forms["myForm"]["password"].value = "";
		  document.forms["myForm"]["password2"].value = "";
		  return false;
		  }
		  else if(pass !== pass2){
		  alert("Hatalı giriş yaptınız.Şifrenizi tekrar giriniz.");
		  document.forms["myForm"]["password"].value = "";
		  document.forms["myForm"]["password2"].value = "";
		  return false;
		  }
		  }
		  }
		  </script>

  </head>
  <body>
    <div id ="vkey" onmousedown="drag_start(this)">

    </div>
    {% if error %}
    <h1>{{ error }}!</h1>
    {% endif %}
    <table border = "0" align = "center">
      <form method="POST" action="/register" onsubmit="return control()">
	<tr>
	  <td>E-mail: </td>
	  <td><input type="text" id ="mail" name="mail"><br></td>

	</tr>
	<tr>
	  <td>Password: </td>
	  <td><input onkeypress="return disablekeys()" type="password" id="password" name="password"/></td>

	</tr>
	<tr>
	  <td>Password(Again): </td>
	  <td><input onkeypress="return disablekeys()" type="password" id="password2" name="password2"/></td>

	</tr>
	<tr>
	  <td><input type="submit" value="Submit"></td>
	  <td><input type="button" value="Virtual keyboard" onclick="ackapa() " /></td>
	</tr>
	<tr>
	  <td colspan ="2" align = "center">
	    <a href="/login">Login Page</a>
	  <td>
	</tr>
      </form>
    </table>
  </body>
</html>
