/* vkey v1.0 by marco @ tehwebmaster.blogspot.com */

#vkey {
    display: none;
    position: absolute;
    left: 820px;
    top: 150px;
    padding: 10px;
    width: 260px;
    text-align: center;
    line-height: 26px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.vkey_key {
    font-family: monospace;
    margin: 1px;
    padding: 3px 7px;
    border: 1px solid #ccc;
    font-size: 10px;
    text-decoration: none;
    color: #000;
}

.vkey_key:hover {
    background-color: #ccc;
    color: #fff;
}

h1, h4 {
    margin: 0 auto;
    text-align: center;
    font-family: Verdana;
    color: #ca3838;
}

.ok {
    color: #58c026;
}